openapi: 3.0.3
info:
  title: Snyk API
  version: REST
servers:
- description: Snyk REST API
  url: https://api.snyk.io/rest
security:
- BearerAuth: []
- APIToken: []
tags:
- description: "Third-party Apps that integrate with the Snyk platform. See our [overview\
    \ documentation](https://docs.snyk.io/integrations/snyk-apps) for more details."
  name: Apps
- description: Audit Logs
  name: Audit Logs
- description: User-defined collections of projects
  name: Collection
- description: Container Image resource
  name: ContainerImage
- description: "Through the Custom Base Image Recommendation feature, Snyk can recommend\
    \ an image upgrade from a pool of the your internal images. \nThis allows your\
    \ teams to be notified of newer and more secure versions of internal base images.\n\
    \nNotable changes to this API resource:\n- starting with version \"2023-09-20\"\
    , the `GET` `/custom_base_images` endpoint requires the `repository` filter when\
    \ sorting by `version`.\n- starting with version \"2024-01-04\", `VersioningSchema`\
    \ objects with `type` `\"date\"` are no longer supported. Snyk recommends updating\
    \ custom base images with the deprecated type to `\"single-selection\"`.\n"
  name: Custom Base Images
- description: An example of a v3 API resource
  name: Examples
- description: Infrastructure as Code Settings.
  name: IacSettings
- description: Organization Invites.
  name: Invites
- description: Issues relevant to a particular package
  name: Issues
- description: The OpenAPI specification for slack-app.
  name: OpenAPI
- description: "An Organization is the lowest level of Snyk's tenancy hierarchy, and\
    \ may contain projects and other data."
  name: Org
- description: |
    A project is a single external resource which has been scanned by Snyk such as a manifest file or a container image. It may also be continuously monitored by Snyk.
  name: Projects
- description: A Software Bill of Materials document
  name: SBOM
- description: SAST Settings modifications for an org
  name: SastSettings
- description: "Service accounts can be used for continuous integration (CI) and other\
    \ automation purposes, without using an actual Snyk user’s token."
  name: ServiceAccounts
- description: Slack integration configuration.
  name: Slack
- description: Slack app integration settings.
  name: SlackSettings
paths:
  /custom_base_images:
    get:
      description: |
        Get a list of custom base images with support for ordering and filtering.
        Either the org_id or group_id parameters must be set to authorize successfully.
        If sorting by version, the repository filter is required.
      operationId: getCustomBaseImages
      parameters:
      - description: The requested version of the endpoint to process the request
        example: 2021-06-04
        explode: true
        in: query
        name: version
        required: true
        schema:
          $ref: '#/components/schemas/QueryVersion'
        style: form
      - description: Return the page of results immediately after this cursor
        example: v1.eyJpZCI6IjEwMDAifQo=
        explode: true
        in: query
        name: starting_after
        required: false
        schema:
          type: string
        style: form
      - description: Return the page of results immediately before this cursor
        example: v1.eyJpZCI6IjExMDAifQo=
        explode: true
        in: query
        name: ending_before
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          maximum: 100
          minimum: 10
          multipleOf: 10
          type: integer
        style: form
      - description: The ID of the container project that the custom base image is
          based off of.
        explode: true
        in: query
        name: project_id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: The organization ID of the custom base image
        explode: true
        in: query
        name: org_id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: The group ID of the custom base image
        explode: true
        in: query
        name: group_id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: The image repository
        explode: true
        in: query
        name: repository
        required: false
        schema:
          type: string
        style: form
      - description: The image tag
        explode: true
        in: query
        name: tag
        required: false
        schema:
          type: string
        style: form
      - description: Whether this image should be recommended as a base image upgrade
        explode: true
        in: query
        name: include_in_recommendations
        required: false
        schema:
          type: boolean
        style: form
      - description: "Which column to sort by. \nIf sorting by version, the versioning\
          \ schema is used.\n"
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          enum:
          - repository
          - tag
          - version
          type: string
        style: form
      - description: Which direction to sort
        explode: true
        in: query
        name: sort_direction
        required: false
        schema:
          default: ASC
          enum:
          - ASC
          - DESC
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CustomBaseImageCollectionResponse'
          description: Returns custom base images
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        "400":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: "Bad Request: A parameter provided as a part of the request\
            \ was invalid."
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: "Unauthorized: the request requires an authentication token."
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: "Forbidden: the request requires an authentication token with\
            \ more or different permissions."
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: "Not Found: The resource being operated on could not be found."
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        "500":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: "Internal Server Error: An error was encountered while attempting\
            \ to process the request."
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
      summary: Get a custom base image collection
      tags:
      - Custom Base Images
      x-snyk-api-releases:
      - 2023-08-21
      - 2023-09-20
      - 2024-01-04
      x-snyk-api-version: 2024-01-04
    post:
      description: |
        In order to create a custom base image, you first need to import your base images into Snyk.
        You can do this through the CLI, UI, or API.

        This endpoint marks an image as a custom base image. This means that the image will get
        added to the pool of images from which Snyk can recommend base image upgrades.

        Note, after the first image in a repository gets added, a versioning schema cannot be passed in this endpoint.
        To update the versioning schema, the PATCH endpoint must be used.
      operationId: createCustomBaseImage
      parameters:
      - description: The requested version of the endpoint to process the request
        example: 2021-06-04
        explode: true
        in: query
        name: version
        required: true
        schema:
          $ref: '#/components/schemas/QueryVersion'
        style: form
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CustomBaseImagePostRequest'
        description: The properties used in the creation of a custom base image
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CustomBaseImageResponse'
          description: Successfully created a custom base image
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            location:
              $ref: '#/components/headers/LocationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        "400":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: "Bad Request: A parameter provided as a part of the request\
            \ was invalid."
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: "Unauthorized: the request requires an authentication token."
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: "Forbidden: the request requires an authentication token with\
            \ more or different permissions."
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: "Not Found: The resource being operated on could not be found."
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        "409":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: "Conflict: The requested operation conflicts with the current\
            \ state of the resource in some way."
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        "500":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: "Internal Server Error: An error was encountered while attempting\
            \ to process the request."
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
      summary: Create a Custom Base Image from an existing container project
      tags:
      - Custom Base Images
      x-snyk-api-releases:
      - 2023-08-21
      - 2023-09-20
      - 2024-01-04
      x-snyk-api-version: 2024-01-04
    x-snyk-api-resource: custombaseimages
  /custom_base_images/{custombaseimage_id}:
    delete:
      description: Delete a custom base image resource. (the related container project
        is unaffected)
      operationId: deleteCustomBaseImage
      parameters:
      - description: The requested version of the endpoint to process the request
        example: 2021-06-04
        explode: true
        in: query
        name: version
        required: true
        schema:
          $ref: '#/components/schemas/QueryVersion'
        style: form
      - description: Unique identifier for custom base image
        explode: false
        in: path
        name: custombaseimage_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: Successfully deleted the custom base image
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: "Unauthorized: the request requires an authentication token."
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: "Not Found: The resource being operated on could not be found."
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        "500":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: "Internal Server Error: An error was encountered while attempting\
            \ to process the request."
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
      summary: Delete a custom base image
      tags:
      - Custom Base Images
      x-snyk-api-releases:
      - 2023-08-21
      - 2023-09-20
      - 2024-01-04
      x-snyk-api-version: 2024-01-04
    get:
      description: Get a custom base image
      operationId: getCustomBaseImage
      parameters:
      - description: The requested version of the endpoint to process the request
        example: 2021-06-04
        explode: true
        in: query
        name: version
        required: true
        schema:
          $ref: '#/components/schemas/QueryVersion'
        style: form
      - description: Unique identifier for custom base image
        explode: false
        in: path
        name: custombaseimage_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CustomBaseImageResponse'
          description: Returns a custom base image
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        "400":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: "Bad Request: A parameter provided as a part of the request\
            \ was invalid."
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: "Unauthorized: the request requires an authentication token."
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: "Forbidden: the request requires an authentication token with\
            \ more or different permissions."
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: "Not Found: The resource being operated on could not be found."
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        "500":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: "Internal Server Error: An error was encountered while attempting\
            \ to process the request."
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
      summary: Get a custom base image
      tags:
      - Custom Base Images
      x-snyk-api-releases:
      - 2023-08-21
      - 2023-09-20
      - 2024-01-04
      x-snyk-api-version: 2024-01-04
    patch:
      description: Updates a custom base image's attributes
      operationId: updateCustomBaseImage
      parameters:
      - description: The requested version of the endpoint to process the request
        example: 2021-06-04
        explode: true
        in: query
        name: version
        required: true
        schema:
          $ref: '#/components/schemas/QueryVersion'
        style: form
      - description: Unique identifier for custom base image
        explode: false
        in: path
        name: custombaseimage_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/CustomBaseImagePatchRequest'
        description: custom base image to be updated
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/CustomBaseImageResponse'
          description: Returns the updated custom base image
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        "400":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: "Bad Request: A parameter provided as a part of the request\
            \ was invalid."
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: "Unauthorized: the request requires an authentication token."
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: "Forbidden: the request requires an authentication token with\
            \ more or different permissions."
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: "Not Found: The resource being operated on could not be found."
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        "500":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorDocument'
          description: "Internal Server Error: An error was encountered while attempting\
            \ to process the request."
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
      summary: Update a custom base image
      tags:
      - Custom Base Images
      x-snyk-api-releases:
      - 2023-08-21
      - 2023-09-20
      - 2024-01-04
      x-snyk-api-version: 2024-01-04
    x-snyk-api-resource: custombaseimages
  /groups/{group_id}/apps/installs:
    get:
      description: Get a list of apps installed for a group.
      operationId: getAppInstallsForGroup
      parameters:
      - description: Expand relationships.
        explode: false
        in: query
        name: expand
        required: false
        schema:
          items:
            enum:
            - app
            type: string
          type: array
        style: form
      - description: Group ID
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: The requested version of the endpoint to process the request
        example: 2021-06-04
        explode: true
        in: query
        name: version
        required: true
        schema:
          $ref: '#/components/schemas/QueryVersion'
        style: form
      - description: Return the page of results immediately after this cursor
        example: v1.eyJpZCI6IjEwMDAifQo=
        explode: true
        in: query
        name: starting_after
        required: false
        schema:
          type: string
        style: form
      - description: Return the page of results immediately before this cursor
        example: v1.eyJpZCI6IjExMDAifQo=
        explode: true
        in: query
        name: ending_before
        required: false
        schema:
          type: string
        style: form
      - description: Number of results to return per page
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          format: int32
          maximum: 100
          minimum: 10
          multipleOf: 10
          type: integer
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/getAppInstallsForGroup_200_response'
          description: A list of apps installed for the specified group.
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        "400":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/getAppInstallsForGroup_400_response'
          description: "Bad Request: A parameter provided as a part of the request\
            \ was invalid."
          headers:
            deprecation:
              description: |
                A header containing the deprecation date of the underlying endpoint. For more information, please refer to the deprecation header RFC:
                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html
              example: 2021-07-01T00:00:00Z
              explode: false
              schema:
                format: date-time
                type: string
              style: simple
            snyk-request-id:
              description: |
                A header containing a unique id used for tracking this request. If you are reporting an issue to Snyk it's very helpful to provide this ID.
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              explode: false
              schema:
                format: uuid
                type: string
              style: simple
            snyk-version-lifecycle-stage:
              description: |
                A header containing the version stage of the endpoint. This stage describes the guarantees snyk provides surrounding stability of the endpoint.
              explode: false
              schema:
                enum:
                - wip
                - experimental
                - beta
                - ga
                - deprecated
                - sunset
                example: ga
                type: string
              style: simple
            snyk-version-requested:
              description: A header containing the version of the endpoint requested
                by the caller.
              example: 2021-06-04
              explode: false
              schema:
                description: Requested API version
                pattern: "^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$"
                type: string
              style: simple
            snyk-version-served:
              description: A header containing the version of the endpoint that was
                served by the API.
              example: 2021-06-04
              explode: false
              schema:
                description: Resolved API version
                pattern: "^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$"
                type: string
              style: simple
            sunset:
              description: |
                A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. Please refer to the RFC for more information:
                https://datatracker.ietf.org/doc/html/rfc8594
              example: 2021-08-02T00:00:00Z
              explode: false
              schema:
                format: date-time
                type: string
              style: simple
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/getAppInstallsForGroup_400_response'
          description: "Unauthorized: the request requires an authentication token\
            \ or a token with more permissions."
          headers:
            deprecation:
              description: |
                A header containing the deprecation date of the underlying endpoint. For more information, please refer to the deprecation header RFC:
                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html
              example: 2021-07-01T00:00:00Z
              explode: false
              schema:
                format: date-time
                type: string
              style: simple
            snyk-request-id:
              description: |
                A header containing a unique id used for tracking this request. If you are reporting an issue to Snyk it's very helpful to provide this ID.
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              explode: false
              schema:
                format: uuid
                type: string
              style: simple
            snyk-version-lifecycle-stage:
              description: |
                A header containing the version stage of the endpoint. This stage describes the guarantees snyk provides surrounding stability of the endpoint.
              explode: false
              schema:
                enum:
                - wip
                - experimental
                - beta
                - ga
                - deprecated
                - sunset
                example: ga
                type: string
              style: simple
            snyk-version-requested:
              description: A header containing the version of the endpoint requested
                by the caller.
              example: 2021-06-04
              explode: false
              schema:
                description: Requested API version
                pattern: "^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$"
                type: string
              style: simple
            snyk-version-served:
              description: A header containing the version of the endpoint that was
                served by the API.
              example: 2021-06-04
              explode: false
              schema:
                description: Resolved API version
                pattern: "^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$"
                type: string
              style: simple
            sunset:
              description: |
                A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. Please refer to the RFC for more information:
                https://datatracker.ietf.org/doc/html/rfc8594
              example: 2021-08-02T00:00:00Z
              explode: false
              schema:
                format: date-time
                type: string
              style: simple
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/getAppInstallsForGroup_400_response'
          description: "Forbidden: the request requires an authentication token with\
            \ more or different permissions."
          headers:
            deprecation:
              description: |
                A header containing the deprecation date of the underlying endpoint. For more information, please refer to the deprecation header RFC:
                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html
              example: 2021-07-01T00:00:00Z
              explode: false
              schema:
                format: date-time
                type: string
              style: simple
            snyk-request-id:
              description: |
                A header containing a unique id used for tracking this request. If you are reporting an issue to Snyk it's very helpful to provide this ID.
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              explode: false
              schema:
                format: uuid
                type: string
              style: simple
            snyk-version-lifecycle-stage:
              description: |
                A header containing the version stage of the endpoint. This stage describes the guarantees snyk provides surrounding stability of the endpoint.
              explode: false
              schema:
                enum:
                - wip
                - experimental
                - beta
                - ga
                - deprecated
                - sunset
                example: ga
                type: string
              style: simple
            snyk-version-requested:
              description: A header containing the version of the endpoint requested
                by the caller.
              example: 2021-06-04
              explode: false
              schema:
                description: Requested API version
                pattern: "^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$"
                type: string
              style: simple
            snyk-version-served:
              description: A header containing the version of the endpoint that was
                served by the API.
              example: 2021-06-04
              explode: false
              schema:
                description: Resolved API version
                pattern: "^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$"
                type: string
              style: simple
            sunset:
              description: |
                A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. Please refer to the RFC for more information:
                https://datatracker.ietf.org/doc/html/rfc8594
              example: 2021-08-02T00:00:00Z
              explode: false
              schema:
                format: date-time
                type: string
              style: simple
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/getAppInstallsForGroup_400_response'
          description: "Not Found: The resource being operated on could not be found."
          headers:
            deprecation:
              description: |
                A header containing the deprecation date of the underlying endpoint. For more information, please refer to the deprecation header RFC:
                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html
              example: 2021-07-01T00:00:00Z
              explode: false
              schema:
                format: date-time
                type: string
              style: simple
            snyk-request-id:
              description: |
                A header containing a unique id used for tracking this request. If you are reporting an issue to Snyk it's very helpful to provide this ID.
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              explode: false
              schema:
                format: uuid
                type: string
              style: simple
            snyk-version-lifecycle-stage:
              description: |
                A header containing the version stage of the endpoint. This stage describes the guarantees snyk provides surrounding stability of the endpoint.
              explode: false
              schema:
                enum:
                - wip
                - experimental
                - beta
                - ga
                - deprecated
                - sunset
                example: ga
                type: string
              style: simple
            snyk-version-requested:
              description: A header containing the version of the endpoint requested
                by the caller.
              example: 2021-06-04
              explode: false
              schema:
                description: Requested API version
                pattern: "^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$"
                type: string
              style: simple
            snyk-version-served:
              description: A header containing the version of the endpoint that was
                served by the API.
              example: 2021-06-04
              explode: false
              schema:
                description: Resolved API version
                pattern: "^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$"
                type: string
              style: simple
            sunset:
              description: |
                A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. Please refer to the RFC for more information:
                https://datatracker.ietf.org/doc/html/rfc8594
              example: 2021-08-02T00:00:00Z
              explode: false
              schema:
                format: date-time
                type: string
              style: simple
        "409":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/getAppInstallsForGroup_400_response'
          description: "Conflict: The requested operation conflicts with the current\
            \ state of the resource in some way."
          headers:
            deprecation:
              description: |
                A header containing the deprecation date of the underlying endpoint. For more information, please refer to the deprecation header RFC:
                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html
              example: 2021-07-01T00:00:00Z
              explode: false
              schema:
                format: date-time
                type: string
              style: simple
            snyk-request-id:
              description: |
                A header containing a unique id used for tracking this request. If you are reporting an issue to Snyk it's very helpful to provide this ID.
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              explode: false
              schema:
                format: uuid
                type: string
              style: simple
            snyk-version-lifecycle-stage:
              description: |
                A header containing the version stage of the endpoint. This stage describes the guarantees snyk provides surrounding stability of the endpoint.
              explode: false
              schema:
                enum:
                - wip
                - experimental
                - beta
                - ga
                - deprecated
                - sunset
                example: ga
                type: string
              style: simple
            snyk-version-requested:
              description: A header containing the version of the endpoint requested
                by the caller.
              example: 2021-06-04
              explode: false
              schema:
                description: Requested API version
                pattern: "^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$"
                type: string
              style: simple
            snyk-version-served:
              description: A header containing the version of the endpoint that was
                served by the API.
              example: 2021-06-04
              explode: false
              schema:
                description: Resolved API version
                pattern: "^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$"
                type: string
              style: simple
            sunset:
              description: |
                A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. Please refer to the RFC for more information:
                https://datatracker.ietf.org/doc/html/rfc8594
              example: 2021-08-02T00:00:00Z
              explode: false
              schema:
                format: date-time
                type: string
              style: simple
        "500":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/getAppInstallsForGroup_400_response'
          description: "Internal Server Error: An error was encountered while attempting\
            \ to process the request."
          headers:
            deprecation:
              description: |
                A header containing the deprecation date of the underlying endpoint. For more information, please refer to the deprecation header RFC:
                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html
              example: 2021-07-01T00:00:00Z
              explode: false
              schema:
                format: date-time
                type: string
              style: simple
            snyk-request-id:
              description: |
                A header containing a unique id used for tracking this request. If you are reporting an issue to Snyk it's very helpful to provide this ID.
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              explode: false
              schema:
                format: uuid
                type: string
              style: simple
            snyk-version-lifecycle-stage:
              description: |
                A header containing the version stage of the endpoint. This stage describes the guarantees snyk provides surrounding stability of the endpoint.
              explode: false
              schema:
                enum:
                - wip
                - experimental
                - beta
                - ga
                - deprecated
                - sunset
                example: ga
                type: string
              style: simple
            snyk-version-requested:
              description: A header containing the version of the endpoint requested
                by the caller.
              example: 2021-06-04
              explode: false
              schema:
                description: Requested API version
                pattern: "^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$"
                type: string
              style: simple
            snyk-version-served:
              description: A header containing the version of the endpoint that was
                served by the API.
              example: 2021-06-04
              explode: false
              schema:
                description: Resolved API version
                pattern: "^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$"
                type: string
              style: simple
            sunset:
              description: |
                A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. Please refer to the RFC for more information:
                https://datatracker.ietf.org/doc/html/rfc8594
              example: 2021-08-02T00:00:00Z
              explode: false
              schema:
                format: date-time
                type: string
              style: simple
      summary: Get a list of apps installed for a group.
      tags:
      - Apps
      x-snyk-api-releases:
      - 2023-06-19~experimental
      - 2023-11-03
      x-snyk-api-version: 2023-11-03
    post:
      description: "Install a Snyk Apps to this group, the Snyk App must use unattended\
        \ authentication eg client credentials."
      operationId: createGroupAppInstall
      parameters:
      - description: The requested version of the endpoint to process the request
        example: 2021-06-04
        explode: true
        in: query
        name: version
        required: true
        schema:
          $ref: '#/components/schemas/QueryVersion'
        style: form
      - description: Group ID
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/createGroupAppInstall_request'
        description: App Install to be created
      responses:
        "201":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/createGroupAppInstall_201_response'
          description: The newly created app install.
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            location:
              explode: false
              schema:
                type: string
              style: simple
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        "400":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/getAppInstallsForGroup_400_response'
          description: "Bad Request: A parameter provided as a part of the request\
            \ was invalid."
          headers:
            deprecation:
              description: |
                A header containing the deprecation date of the underlying endpoint. For more information, please refer to the deprecation header RFC:
                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html
              example: 2021-07-01T00:00:00Z
              explode: false
              schema:
                format: date-time
                type: string
              style: simple
            snyk-request-id:
              description: |
                A header containing a unique id used for tracking this request. If you are reporting an issue to Snyk it's very helpful to provide this ID.
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              explode: false
              schema:
                format: uuid
                type: string
              style: simple
            snyk-version-lifecycle-stage:
              description: |
                A header containing the version stage of the endpoint. This stage describes the guarantees snyk provides surrounding stability of the endpoint.
              explode: false
              schema:
                enum:
                - wip
                - experimental
                - beta
                - ga
                - deprecated
                - sunset
                example: ga
                type: string
              style: simple
            snyk-version-requested:
              description: A header containing the version of the endpoint requested
                by the caller.
              example: 2021-06-04
              explode: false
              schema:
                description: Requested API version
                pattern: "^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$"
                type: string
              style: simple
            snyk-version-served:
              description: A header containing the version of the endpoint that was
                served by the API.
              example: 2021-06-04
              explode: false
              schema:
                description: Resolved API version
                pattern: "^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$"
                type: string
              style: simple
            sunset:
              description: |
                A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. Please refer to the RFC for more information:
                https://datatracker.ietf.org/doc/html/rfc8594
              example: 2021-08-02T00:00:00Z
              explode: false
              schema:
                format: date-time
                type: string
              style: simple
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/getAppInstallsForGroup_400_response'
          description: "Unauthorized: the request requires an authentication token\
            \ or a token with more permissions."
          headers:
            deprecation:
              description: |
                A header containing the deprecation date of the underlying endpoint. For more information, please refer to the deprecation header RFC:
                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html
              example: 2021-07-01T00:00:00Z
              explode: false
              schema:
                format: date-time
                type: string
              style: simple
            snyk-request-id:
              description: |
                A header containing a unique id used for tracking this request. If you are reporting an issue to Snyk it's very helpful to provide this ID.
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              explode: false
              schema:
                format: uuid
                type: string
              style: simple
            snyk-version-lifecycle-stage:
              description: |
                A header containing the version stage of the endpoint. This stage describes the guarantees snyk provides surrounding stability of the endpoint.
              explode: false
              schema:
                enum:
                - wip
                - experimental
                - beta
                - ga
                - deprecated
                - sunset
                example: ga
                type: string
              style: simple
            snyk-version-requested:
              description: A header containing the version of the endpoint requested
                by the caller.
              example: 2021-06-04
              explode: false
              schema:
                description: Requested API version
                pattern: "^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$"
                type: string
              style: simple
            snyk-version-served:
              description: A header containing the version of the endpoint that was
                served by the API.
              example: 2021-06-04
              explode: false
              schema:
                description: Resolved API version
                pattern: "^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$"
                type: string
              style: simple
            sunset:
              description: |
                A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. Please refer to the RFC for more information:
                https://datatracker.ietf.org/doc/html/rfc8594
              example: 2021-08-02T00:00:00Z
              explode: false
              schema:
                format: date-time
                type: string
              style: simple
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/getAppInstallsForGroup_400_response'
          description: "Forbidden: the request requires an authentication token with\
            \ more or different permissions."
          headers:
            deprecation:
              description: |
                A header containing the deprecation date of the underlying endpoint. For more information, please refer to the deprecation header RFC:
                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html
              example: 2021-07-01T00:00:00Z
              explode: false
              schema:
                format: date-time
                type: string
              style: simple
            snyk-request-id:
              description: |
                A header containing a unique id used for tracking this request. If you are reporting an issue to Snyk it's very helpful to provide this ID.
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              explode: false
              schema:
                format: uuid
                type: string
              style: simple
            snyk-version-lifecycle-stage:
              description: |
                A header containing the version stage of the endpoint. This stage describes the guarantees snyk provides surrounding stability of the endpoint.
              explode: false
              schema:
                enum:
                - wip
                - experimental
                - beta
                - ga
                - deprecated
                - sunset
                example: ga
                type: string
              style: simple
            snyk-version-requested:
              description: A header containing the version of the endpoint requested
                by the caller.
              example: 2021-06-04
              explode: false
              schema:
                description: Requested API version
                pattern: "^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$"
                type: string
              style: simple
            snyk-version-served:
              description: A header containing the version of the endpoint that was
                served by the API.
              example: 2021-06-04
              explode: false
              schema:
                description: Resolved API version
                pattern: "^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$"
                type: string
              style: simple
            sunset:
              description: |
                A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. Please refer to the RFC for more information:
                https://datatracker.ietf.org/doc/html/rfc8594
              example: 2021-08-02T00:00:00Z
              explode: false
              schema:
                format: date-time
                type: string
              style: simple
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/getAppInstallsForGroup_400_response'
          description: "Not Found: The resource being operated on could not be found."
          headers:
            deprecation:
              description: |
                A header containing the deprecation date of the underlying endpoint. For more information, please refer to the deprecation header RFC:
                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html
              example: 2021-07-01T00:00:00Z
              explode: false
              schema:
                format: date-time
                type: string
              style: simple
            snyk-request-id:
              description: |
                A header containing a unique id used for tracking this request. If you are reporting an issue to Snyk it's very helpful to provide this ID.
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              explode: false
              schema:
                format: uuid
                type: string
              style: simple
            snyk-version-lifecycle-stage:
              description: |
                A header containing the version stage of the endpoint. This stage describes the guarantees snyk provides surrounding stability of the endpoint.
              explode: false
              schema:
                enum:
                - wip
                - experimental
                - beta
                - ga
                - deprecated
                - sunset
                example: ga
                type: string
              style: simple
            snyk-version-requested:
              description: A header containing the version of the endpoint requested
                by the caller.
              example: 2021-06-04
              explode: false
              schema:
                description: Requested API version
                pattern: "^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$"
                type: string
              style: simple
            snyk-version-served:
              description: A header containing the version of the endpoint that was
                served by the API.
              example: 2021-06-04
              explode: false
              schema:
                description: Resolved API version
                pattern: "^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$"
                type: string
              style: simple
            sunset:
              description: |
                A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. Please refer to the RFC for more information:
                https://datatracker.ietf.org/doc/html/rfc8594
              example: 2021-08-02T00:00:00Z
              explode: false
              schema:
                format: date-time
                type: string
              style: simple
        "409":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/getAppInstallsForGroup_400_response'
          description: "Conflict: The requested operation conflicts with the current\
            \ state of the resource in some way."
          headers:
            deprecation:
              description: |
                A header containing the deprecation date of the underlying endpoint. For more information, please refer to the deprecation header RFC:
                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html
              example: 2021-07-01T00:00:00Z
              explode: false
              schema:
                format: date-time
                type: string
              style: simple
            snyk-request-id:
              description: |
                A header containing a unique id used for tracking this request. If you are reporting an issue to Snyk it's very helpful to provide this ID.
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              explode: false
              schema:
                format: uuid
                type: string
              style: simple
            snyk-version-lifecycle-stage:
              description: |
                A header containing the version stage of the endpoint. This stage describes the guarantees snyk provides surrounding stability of the endpoint.
              explode: false
              schema:
                enum:
                - wip
                - experimental
                - beta
                - ga
                - deprecated
                - sunset
                example: ga
                type: string
              style: simple
            snyk-version-requested:
              description: A header containing the version of the endpoint requested
                by the caller.
              example: 2021-06-04
              explode: false
              schema:
                description: Requested API version
                pattern: "^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$"
                type: string
              style: simple
            snyk-version-served:
              description: A header containing the version of the endpoint that was
                served by the API.
              example: 2021-06-04
              explode: false
              schema:
                description: Resolved API version
                pattern: "^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$"
                type: string
              style: simple
            sunset:
              description: |
                A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. Please refer to the RFC for more information:
                https://datatracker.ietf.org/doc/html/rfc8594
              example: 2021-08-02T00:00:00Z
              explode: false
              schema:
                format: date-time
                type: string
              style: simple
        "500":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/getAppInstallsForGroup_400_response'
          description: "Internal Server Error: An error was encountered while attempting\
            \ to process the request."
          headers:
            deprecation:
              description: |
                A header containing the deprecation date of the underlying endpoint. For more information, please refer to the deprecation header RFC:
                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html
              example: 2021-07-01T00:00:00Z
              explode: false
              schema:
                format: date-time
                type: string
              style: simple
            snyk-request-id:
              description: |
                A header containing a unique id used for tracking this request. If you are reporting an issue to Snyk it's very helpful to provide this ID.
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              explode: false
              schema:
                format: uuid
                type: string
              style: simple
            snyk-version-lifecycle-stage:
              description: |
                A header containing the version stage of the endpoint. This stage describes the guarantees snyk provides surrounding stability of the endpoint.
              explode: false
              schema:
                enum:
                - wip
                - experimental
                - beta
                - ga
                - deprecated
                - sunset
                example: ga
                type: string
              style: simple
            snyk-version-requested:
              description: A header containing the version of the endpoint requested
                by the caller.
              example: 2021-06-04
              explode: false
              schema:
                description: Requested API version
                pattern: "^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$"
                type: string
              style: simple
            snyk-version-served:
              description: A header containing the version of the endpoint that was
                served by the API.
              example: 2021-06-04
              explode: false
              schema:
                description: Resolved API version
                pattern: "^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$"
                type: string
              style: simple
            sunset:
              description: |
                A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. Please refer to the RFC for more information:
                https://datatracker.ietf.org/doc/html/rfc8594
              example: 2021-08-02T00:00:00Z
              explode: false
              schema:
                format: date-time
                type: string
              style: simple
      summary: Install a Snyk Apps to this group.
      tags:
      - Apps
      x-snyk-api-releases:
      - 2023-06-19~experimental
      - 2023-11-03
      x-snyk-api-version: 2023-11-03
    x-snyk-api-resource: app_installs
  /groups/{group_id}/apps/installs/{install_id}:
    delete:
      description: Revoke app authorization for an Snyk Group with install ID.
      operationId: deleteGroupAppInstallByID
      parameters:
      - description: The requested version of the endpoint to process the request
        example: 2021-06-04
        explode: true
        in: query
        name: version
        required: true
        schema:
          $ref: '#/components/schemas/QueryVersion'
        style: form
      - description: Group ID
        explode: false
        in: path
        name: group_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Install ID
        explode: false
        in: path
        name: install_id
        required: true
        schema:
          $ref: '#/components/schemas/Uuid'
        style: simple
      responses:
        "204":
          description: The app install has been de-authorized.
          headers:
            deprecation:
              $ref: '#/components/headers/DeprecationHeader'
            location:
              explode: false
              schema:
                type: string
              style: simple
            snyk-request-id:
              $ref: '#/components/headers/RequestIdResponseHeader'
            snyk-version-lifecycle-stage:
              $ref: '#/components/headers/VersionStageResponseHeader'
            snyk-version-requested:
              $ref: '#/components/headers/VersionRequestedResponseHeader'
            snyk-version-served:
              $ref: '#/components/headers/VersionServedResponseHeader'
            sunset:
              $ref: '#/components/headers/SunsetHeader'
        "400":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/getAppInstallsForGroup_400_response'
          description: "Bad Request: A parameter provided as a part of the request\
            \ was invalid."
          headers:
            deprecation:
              description: |
                A header containing the deprecation date of the underlying endpoint. For more information, please refer to the deprecation header RFC:
                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html
              example: 2021-07-01T00:00:00Z
              explode: false
              schema:
                format: date-time
                type: string
              style: simple
            snyk-request-id:
              description: |
                A header containing a unique id used for tracking this request. If you are reporting an issue to Snyk it's very helpful to provide this ID.
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              explode: false
              schema:
                format: uuid
                type: string
              style: simple
            snyk-version-lifecycle-stage:
              description: |
                A header containing the version stage of the endpoint. This stage describes the guarantees snyk provides surrounding stability of the endpoint.
              explode: false
              schema:
                enum:
                - wip
                - experimental
                - beta
                - ga
                - deprecated
                - sunset
                example: ga
                type: string
              style: simple
            snyk-version-requested:
              description: A header containing the version of the endpoint requested
                by the caller.
              example: 2021-06-04
              explode: false
              schema:
                description: Requested API version
                pattern: "^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$"
                type: string
              style: simple
            snyk-version-served:
              description: A header containing the version of the endpoint that was
                served by the API.
              example: 2021-06-04
              explode: false
              schema:
                description: Resolved API version
                pattern: "^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$"
                type: string
              style: simple
            sunset:
              description: |
                A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. Please refer to the RFC for more information:
                https://datatracker.ietf.org/doc/html/rfc8594
              example: 2021-08-02T00:00:00Z
              explode: false
              schema:
                format: date-time
                type: string
              style: simple
        "401":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/getAppInstallsForGroup_400_response'
          description: "Unauthorized: the request requires an authentication token\
            \ or a token with more permissions."
          headers:
            deprecation:
              description: |
                A header containing the deprecation date of the underlying endpoint. For more information, please refer to the deprecation header RFC:
                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html
              example: 2021-07-01T00:00:00Z
              explode: false
              schema:
                format: date-time
                type: string
              style: simple
            snyk-request-id:
              description: |
                A header containing a unique id used for tracking this request. If you are reporting an issue to Snyk it's very helpful to provide this ID.
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              explode: false
              schema:
                format: uuid
                type: string
              style: simple
            snyk-version-lifecycle-stage:
              description: |
                A header containing the version stage of the endpoint. This stage describes the guarantees snyk provides surrounding stability of the endpoint.
              explode: false
              schema:
                enum:
                - wip
                - experimental
                - beta
                - ga
                - deprecated
                - sunset
                example: ga
                type: string
              style: simple
            snyk-version-requested:
              description: A header containing the version of the endpoint requested
                by the caller.
              example: 2021-06-04
              explode: false
              schema:
                description: Requested API version
                pattern: "^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$"
                type: string
              style: simple
            snyk-version-served:
              description: A header containing the version of the endpoint that was
                served by the API.
              example: 2021-06-04
              explode: false
              schema:
                description: Resolved API version
                pattern: "^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$"
                type: string
              style: simple
            sunset:
              description: |
                A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. Please refer to the RFC for more information:
                https://datatracker.ietf.org/doc/html/rfc8594
              example: 2021-08-02T00:00:00Z
              explode: false
              schema:
                format: date-time
                type: string
              style: simple
        "403":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/getAppInstallsForGroup_400_response'
          description: "Forbidden: the request requires an authentication token with\
            \ more or different permissions."
          headers:
            deprecation:
              description: |
                A header containing the deprecation date of the underlying endpoint. For more information, please refer to the deprecation header RFC:
                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html
              example: 2021-07-01T00:00:00Z
              explode: false
              schema:
                format: date-time
                type: string
              style: simple
            snyk-request-id:
              description: |
                A header containing a unique id used for tracking this request. If you are reporting an issue to Snyk it's very helpful to provide this ID.
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              explode: false
              schema:
                format: uuid
                type: string
              style: simple
            snyk-version-lifecycle-stage:
              description: |
                A header containing the version stage of the endpoint. This stage describes the guarantees snyk provides surrounding stability of the endpoint.
              explode: false
              schema:
                enum:
                - wip
                - experimental
                - beta
                - ga
                - deprecated
                - sunset
                example: ga
                type: string
              style: simple
            snyk-version-requested:
              description: A header containing the version of the endpoint requested
                by the caller.
              example: 2021-06-04
              explode: false
              schema:
                description: Requested API version
                pattern: "^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$"
                type: string
              style: simple
            snyk-version-served:
              description: A header containing the version of the endpoint that was
                served by the API.
              example: 2021-06-04
              explode: false
              schema:
                description: Resolved API version
                pattern: "^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$"
                type: string
              style: simple
            sunset:
              description: |
                A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. Please refer to the RFC for more information:
                https://datatracker.ietf.org/doc/html/rfc8594
              example: 2021-08-02T00:00:00Z
              explode: false
              schema:
                format: date-time
                type: string
              style: simple
        "404":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/getAppInstallsForGroup_400_response'
          description: "Not Found: The resource being operated on could not be found."
          headers:
            deprecation:
              description: |
                A header containing the deprecation date of the underlying endpoint. For more information, please refer to the deprecation header RFC:
                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html
              example: 2021-07-01T00:00:00Z
              explode: false
              schema:
                format: date-time
                type: string
              style: simple
            snyk-request-id:
              description: |
                A header containing a unique id used for tracking this request. If you are reporting an issue to Snyk it's very helpful to provide this ID.
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              explode: false
              schema:
                format: uuid
                type: string
              style: simple
            snyk-version-lifecycle-stage:
              description: |
                A header containing the version stage of the endpoint. This stage describes the guarantees snyk provides surrounding stability of the endpoint.
              explode: false
              schema:
                enum:
                - wip
                - experimental
                - beta
                - ga
                - deprecated
                - sunset
                example: ga
                type: string
              style: simple
            snyk-version-requested:
              description: A header containing the version of the endpoint requested
                by the caller.
              example: 2021-06-04
              explode: false
              schema:
                description: Requested API version
                pattern: "^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$"
                type: string
              style: simple
            snyk-version-served:
              description: A header containing the version of the endpoint that was
                served by the API.
              example: 2021-06-04
              explode: false
              schema:
                description: Resolved API version
                pattern: "^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$"
                type: string
              style: simple
            sunset:
              description: |
                A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. Please refer to the RFC for more information:
                https://datatracker.ietf.org/doc/html/rfc8594
              example: 2021-08-02T00:00:00Z
              explode: false
              schema:
                format: date-time
                type: string
              style: simple
        "409":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/getAppInstallsForGroup_400_response'
          description: "Conflict: The requested operation conflicts with the current\
            \ state of the resource in some way."
          headers:
            deprecation:
              description: |
                A header containing the deprecation date of the underlying endpoint. For more information, please refer to the deprecation header RFC:
                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html
              example: 2021-07-01T00:00:00Z
              explode: false
              schema:
                format: date-time
                type: string
              style: simple
            snyk-request-id:
              description: |
                A header containing a unique id used for tracking this request. If you are reporting an issue to Snyk it's very helpful to provide this ID.
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              explode: false
              schema:
                format: uuid
                type: string
              style: simple
            snyk-version-lifecycle-stage:
              description: |
                A header containing the version stage of the endpoint. This stage describes the guarantees snyk provides surrounding stability of the endpoint.
              explode: false
              schema:
                enum:
                - wip
                - experimental
                - beta
                - ga
                - deprecated
                - sunset
                example: ga
                type: string
              style: simple
            snyk-version-requested:
              description: A header containing the version of the endpoint requested
                by the caller.
              example: 2021-06-04
              explode: false
              schema:
                description: Requested API version
                pattern: "^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$"
                type: string
              style: simple
            snyk-version-served:
              description: A header containing the version of the endpoint that was
                served by the API.
              example: 2021-06-04
              explode: false
              schema:
                description: Resolved API version
                pattern: "^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$"
                type: string
              style: simple
            sunset:
              description: |
                A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. Please refer to the RFC for more information:
                https://datatracker.ietf.org/doc/html/rfc8594
              example: 2021-08-02T00:00:00Z
              explode: false
              schema:
                format: date-time
                type: string
              style: simple
        "500":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/getAppInstallsForGroup_400_response'
          description: "Internal Server Error: An error was encountered while attempting\
            \ to process the request."
          headers:
            deprecation:
              description: |
                A header containing the deprecation date of the underlying endpoint. For more information, please refer to the deprecation header RFC:
                https://tools.ietf.org/id/draft-dalal-deprecation-header-01.html
              example: 2021-07-01T00:00:00Z
              explode: false
              schema:
                format: date-time
                type: string
              style: simple
            snyk-request-id:
              description: |
                A header containing a unique id used for tracking this request. If you are reporting an issue to Snyk it's very helpful to provide this ID.
              example: 4b58e274-ec62-4fab-917b-1d2c48d6bdef
              explode: false
              schema:
                format: uuid
                type: string
              style: simple
            snyk-version-lifecycle-stage:
              description: |
                A header containing the version stage of the endpoint. This stage describes the guarantees snyk provides surrounding stability of the endpoint.
              explode: false
              schema:
                enum:
                - wip
                - experimental
                - beta
                - ga
                - deprecated
                - sunset
                example: ga
                type: string
              style: simple
            snyk-version-requested:
              description: A header containing the version of the endpoint requested
                by the caller.
              example: 2021-06-04
              explode: false
              schema:
                description: Requested API version
                pattern: "^(wip|work-in-progress|experimental|beta|((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?))$"
                type: string
              style: simple
            snyk-version-served:
              description: A header containing the version of the endpoint that was
                served by the API.
              example: 2021-06-04
              explode: false
              schema:
                description: Resolved API version
                pattern: "^((([0-9]{4})-([0-1][0-9]))-((3[01])|(0[1-9])|([12][0-9]))(~(wip|work-in-progress|experimental|beta))?)$"
                type: string
              style: simple
            sunset:
              description: |
                A header containing the date of when the underlying endpoint will be removed. This header is only present if the endpoint has been deprecated. Please refer to the RFC for more information:
[...]
